@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
  font-size: 16px;
  font-family: "Zen Dots", cursive;
}

/* Utilities */
i,
a,
p {
  color: #eee;
}

h1 {
  font-size: 10rem;
  letter-spacing: 2rem;
  color: #eee;
}

hr {
  border-style: solid none none none;
  color: #eee;
  transform: rotate(90deg);
  width: 150px;
}

.section,
.slide {
  text-align: center;
  overflow: hidden;
}

/* Hero Page */
#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: #000;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

#section0 .layer video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 80%;
  z-index: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section0 .player {
  position: absolute;
  z-index: 100;
  width: 300px;
  bottom: 0;
  right: 0;
  opacity: 50%;
}

#section0 .social-layer {
  position: absolute;
  z-index: 100;
  height: 20px;
  left: 0;
  bottom: 0;
  padding: 2rem 0;
}

#section0 .social-layer a {
  padding: 0.8rem;
  opacity: 20%;
}

#section0 .social-layer a:hover {
  opacity: 60%;
}

/* Page Title Cards */
.title-card {
  background-color: #111;
}

.title-card .line {
  position: absolute;
  width: 50%;
  bottom: 0;
  text-align: center;
}

.title-card .top {
  position: absolute;
  width: 50%;
  top: 0;
  line-height: 0.2rem;
}

.title-card .slide h1,
.title-card .slide .title {
  display: inline-block;
}

.title-card .top p {
  font-size: 0.7rem;
}

/* Page Arrows */
.fp-controlArrow {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
