* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 1200px;
  animation: fadein 20s ease forwards;
}

a {
  animation: breathe 30s ease-in-out infinite;
}

a:hover {
  opacity: 0.7;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
